.IDE {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas:
    "loader loader"
    "header header"
    "workspace preview"
    "actions actions";
  min-width: 100px;
  min-height: 300px;
  grid-gap: 0px;
  padding-top: 10px;
}

.IDE .loader {
  grid-area: loader;
}

.IDE .Header {
  grid-area: header;
  background: transparent;
  text-align: center;
  margin: -15px auto;
}

.IDE .Workspace {
  grid-area: workspace;
  display: flex;
  position: relative;
}

.IDE .Workspace .fileTree {
  position: absolute;
  width: 200px;
  height: 100%;
  margin-bottom: -4px;
  background: #333;
  border-left: 1px solid #555;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  z-index: 98;
  transform-origin: top center;
}

/* .IDE .Workspace .fileTree.opened {
  overflow-y: visible;
  overflow-x: hidden;
} */

.IDE .Workspace .fileTree.opened::-webkit-scrollbar {
  padding-right: -180px;
  width: 3px;
}

.IDE .Workspace .fileTree.opened::-webkit-scrollbar-track {
  background-color: #111111;
  border-radius: 100px;
}

.IDE .Workspace .fileTree.opened::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #aaaaaa;
}

.IDE .Workspace .fileTree.closed {
  width: 20px;
}

.IDE .Workspace .fileTree.closed .item,
.IDE .Workspace .fileTree.closed .collapsable {
  visibility: collapse;
}

.IDE .Workspace .fileTree.closed .item .icon.collapse {
  visibility: visible;
  position: absolute;
  left: 2px;
}

.IDE .Workspace .fileTree .item {
  display: flex;
  justify-content: flex-start;
  width: 190px;
  padding: 0 5px;
  margin: 0;
}

.IDE .Workspace .fileTree .item.root {
  border-bottom: 1px solid #555;
  padding: 5px;
}

.IDE .Workspace .fileTree .item:not(.disabled):hover {
  cursor: pointer;
  background-color: #444;
  color: #aaaaaa;
}

.IDE .Workspace .fileTree .item .label {
  width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.IDE .Workspace .fileTree .item .icon {
  width: 19px;
  height: 20px;
  margin: auto;
  cursor: pointer;
}

.IDE .Workspace .fileTree.opened .item .icon.collapse::before {
  content: url('../../../../../assets/icons/left.svg');
}

.IDE .Workspace .fileTree.closed .item .icon.collapse::before {
  content: url('../../../../../assets/icons/right.svg');
}

.IDE .Workspace .fileTree .item .icon.folder:before {
  content: url('../../../../../assets/icons/folder.svg');
}

.IDE .Workspace .fileTree .item .icon.file:before {
  content: url('../../../../../assets/icons/file.svg');
}

.IDE .Workspace .fileTree .item .icon.options::before {
  content: url('../../../../../assets/icons/dots.svg');
}

.IDE .Workspace .fileTree .item:hover .icon.file,
.IDE .Workspace .fileTree .item .icon.collapse:hover,
.IDE .Workspace .fileTree .item .icon.options:hover {
  filter: invert(1);
}

.IDE .Workspace .fileTree .item .icon.options .actions {
  visibility: hidden;
  background: #ddd;
  width: 180px;
  padding: 10px;
  margin: 0;
  cursor: default;
  color: black;
}

.IDE .Workspace .fileTree .item .icon.options:hover .actions {
  visibility: visible;
}

.IDE .Workspace .fileTree .item .icon.options .actions>li {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-style: normal;
  list-style: none;
  cursor: pointer;
}

.IDE .Workspace .fileTree .item .icon.options .actions>li.disabled {
  color: #999;
  cursor: default;
}

.IDE .Workspace .fileTree .item .icon.options .actions>li:not(.disabled):hover {
  color: #333;
}

.IDE .Workspace .fileTree .item .icon.options:hover .actions hr {
  margin: 7px 0 0 0;
}

.IDE .Workspace .fileTree .collapsable {
  border-left: 1px solid #555;
  margin-left: 20px;
}

.IDE .Workspace .fileTree .collapsable .item {
  width: 169px;
}

.IDE .Workspace .fileTree .collapsable .item .label {
  width: 130px;
}

/* .IDE .Workspace .fileTree p.selected {
  border-color: #555;
  background-color: #555;
  color: #aaaaaa;
  cursor: default;
} */

.IDE .Workspace .EditorInstance {
  min-width: 550px;
  height: 422px;
  margin-left: 20px;
}

.IDE .Preview {
  grid-area: preview;
  aspect-ratio: 16 / 9;
}

.IDE .Preview .Controls {
  margin-top: -4px;
  margin-right: 2px;
}

.IDE .Preview .Window {
  background-color: white;
  width: 390px;
  height: 270px;
  border: none;
}

.IDE .Preview .Console {
  background: #242424;
  width: 391px;
  height: 131px;
  overflow-y: scroll;
  margin-top: -4px;
}

.IDE .Preview .Console::-webkit-scrollbar {
  width: 10px;
}

.IDE .Preview .Console::-webkit-scrollbar-track {
  border-left: 1px solid #2b2b2b;
}

.IDE .Preview .Console::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
}

.IDE .Preview .Console:hover::-webkit-scrollbar-thumb {
  background-color: rgba(121, 121, 121, .4);
}

.IDE .Actions {
  grid-area: actions;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding-bottom: 15px;
}

.IDE .Actions button {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid var(--primary-account-color);
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
}

.IDE .Actions a:hover {
  border-color: var(--secondary-account-color);
  color: #aaaaaa;
}