.Uploader {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
    "files"
    "actions";
  padding: 0 25px;
  gap: 25px;
}

.Uploader h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Uploader .Files {
  grid-area: files;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 150px 1fr;
}

.Uploader .Files .Tree {
  background: #111;
  padding: 15px;
}
.Uploader .Files .Tree .file {
  display: block;
  cursor: pointer;
}

.Uploader .Files code {
  display: block;
  padding: 20px;
  background: #1e1e1e;
  max-width: 900px;
  height: 350px;
  overflow-x: auto;
}

.Uploader .Files code span {
  color: #ffffff;
}

.Uploader .Files code::-webkit-scrollbar {
  height: 10px;
}

.Uploader .Files code::-webkit-scrollbar-track {
  background-color: #111111;
  border-radius: 100px;
}

.Uploader .Files code::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 100px;
  background-color: #aaaaaa;
}

.Uploader .Preview iframe {
  aspect-ratio: 16/9;
  width: 930px;
  border: none;
}

.Uploader .Actions {
  grid-area: actions;
  display: flex;
  flex-direction: column;
  margin-top: -15px;
  padding-bottom: 15px;
}

.Uploader .Actions button {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid var(--primary-account-color);
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
}

.Uploader .Actions button:hover {
  border-color: var(--secondary-account-color);
  color: #aaaaaa;
}