.Collection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
  min-height: 100%;
  min-width: 100%;
}

.Collection .Filter {
  border-right: 1px dotted whitesmoke;
}

.Collection .Filter h2 {
  margin: 0;
  margin-bottom: 10px;
}

.Collection .Filter .Group {
  border-bottom: 1px dashed;
  padding-bottom: 20px;
  margin: 20px;
}

.Collection .Filter .Group:last-child {
  border: none;
}

.Collection .Filter .Group .Item {
  display: flex;
  justify-content: space-between;
}

.Collection .Filter .Group .Item label {
  font-size: 20px;
}

.Collection .Filter .Group .Item input[type="text"],
.Collection .Filter .Group .Item select {
  min-width: 180px;
}

.Collection .Filter .Group .Item input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: box-shadow .3s;
  background: var(--primary-account-color);
  cursor: pointer;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
}

.Collection .Filter .Group .Item input[type="checkbox"]:checked {
  box-shadow: inset 0 0 0 20px var(--secondary-account-color);
}

.Collection .Filter .Group .Item input[type="checkbox"]:hover::before,
.Collection .Filter .Group .Item input[type="checkbox"]:checked::before {
  content: '✔';
  position: relative;
  left: 4px;
}

.Collection .Filter .Group .Item select option::before {
  content: '';
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.Collection .Filter .Group .Item select option[value="p5"]::before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c4/Brave_lion.png");
}

.Collection .List {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 10px;
}

.Collection .List .Item {
  border: 1px solid var(--primary-account-color);
  border-radius: 25px;
  width: 250px;
  padding: 20px 20px 5px;
}

.Collection .List .Item:hover {
  border-color: var(--secondary-account-color);
  cursor: pointer;
}

.Collection .List .Item p {
  line-height: 28px;
  padding-bottom: 20px;
}